{% extends 'main/base.html' %}

{%block title %}
Страница про нас
{% endblock %}

{% block tit %}
    <h1> Лучший интернет магазин 20 лет на рынке</h1>
    <p>Мы лучшие в своем деле спасибо что выбираете нас</p>
{% endblock%}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="#">Профиль</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'catalog' %}">Каталог</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Корзина</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Тех-Поддержка</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>
            <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
{% endblock %}

