{% extends 'main/base.html' %}

{% block tit %}
    <h2> В случае возниковновении проблемы предлагаем связаться с нами:</h2>
    <h3>EMAIL:kutuev.rushan987@gmail.com</h3>
    <h4>Номер Телефона: 7 952-385-14-88</h4>

{% endblock%}

{% block nav %}
            <li class="nav-item"><a class="nav-link" href="{% url 'catalog' %}">Каталог</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'supp' %}">Поддержка</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>
            <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
{% endblock %}